@import "util";

.field{
  margin-bottom: 20px;
}


body{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;


  main{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    #background{
      //@include gradient(45deg,20%);
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: url("../image/bg3.jpg") scroll center top;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      filter: contrast(130%) blur(2px);
      transform: scale(1.05,1.05);

    }

    #content{
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
      padding: $canvasSide;
      max-width: $canvasWidth;

      .card{
        box-shadow: $shadowHover;
        min-height: 500px;
        width: 100%;
        max-width: 640px;
        background: #ffffff;
        border-radius: 20px;
        border: none;
        display: flex;
        flex-direction: column;

        .header{
          width: 100%;
          min-height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .label{
            background: $colorPrimary;
            position: absolute;
            right: 0;
            top: 25px;
            min-height: 26px;
            line-height: 12pt;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 15px;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            span{
              color: #ffffff;
              font-family: $fontPrimary;
              font-weight: 600;
              letter-spacing: 1pt;
              font-size: 8pt;
              text-transform: uppercase;
            }
          }

          .brand{
            padding-top: 60px;

            img{
              height: 100px;
              max-width: 200px;
              width: 100%;
              object-fit: contain;
            }
          }





        }
        .body{
          padding: 10px 20px 20px 20px;
          flex: 1;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;


          .buttonPrimary{
            margin-top: 20px;
          }

        }


      }


    }


    .toolbar{
      min-height: 60px;
      text-align: left;
      padding: $canvasSide;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      box-shadow: $shadowHover;
      .title{
        color: $colorPrimary;
        font-family: $fontPrimary;
        font-weight: 600;
        letter-spacing: 1pt;
        font-size: 12pt;
        text-transform: uppercase;
      }
    }

  }
}



@media all and (max-width: $col-lg) {

  body {
    main {
      #background {
        background: url("../image/bg3.jpg") scroll center left;
      }
      #content{
        .card{
          height: 100%;
          max-height: 600px;
          min-height: 400px;

          .header{
            .label{
              display: none;
            }
            .brand{
              padding-top: 30px;
              img{
                height: 120px;
              }
            }
          }
          .body{
            .buttonPrimary{
              margin-top: 50px;
            }
          }
        }
      }
    }
  }
}







